<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit-user</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="topnav">
      <a href="/">Home</a>
      <a href="/create">Create-user</a>
    </div>

    <form action="/edit-user" method="post" class="form-add-new">
      <fieldset>
        <legend>Edit a user:</legend>
        <input type="hidden" name="id" value="<%= userData.id%>" /><br /><br />
        <div class="input-group">
          <label for="email">Email:</label>
          <input type="text" name="email" value="<%= userData.email%>" /><br /><br />
        </div>
        <div class="input-group">
          <label for="name">name:</label>
          <input type="text" name="name" value="<%= userData.name%>" /><br /><br />
        </div>
        <div class="input-group">
          <label for="city">City:</label>
          <input type="text" name="city" value="<%= userData.city%>" /><br /><br />
        </div>
        <input type="submit" value="save" />
      </fieldset>
    </form>
  </body>
</html>
